#form {
  width: 50%;
  margin: auto;

}

input {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}


input[type="text"] {
  padding: 10px;
  background-color: #ddf;
  border: solid 5px #c9c9c9;
  border-radius: 20px;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
  font-size: 3em;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 5px #969696;
}

input[type="submit"] {
  padding: 5px;
  background-color: #444;
  color: #fee;
  font-size: 2em;
  margin: auto;
}
